In [ ]:
# String index()
# Searches the string for a specified value and returns the position of where it was found

In [8]:
df = "palidgromea"
len(df)

11

In [11]:
print(df.index("r"))
df.index("a",5,11)

6

10

In [29]:
# Check if all the characters in the text are letters:


# df = "palidgro213"
df2 = "dsa2"
df2.isalpha()

False

In [ ]:
alp = []
num = []
for i in df2:
    if i.isalpha() == True:
        alp.append(i)
    else:
        num.append(i)
num

['2']

In [43]:
# Check if all the characters in the text are whitespaces:

In [ ]:
txt = "   "
x = txt.isspace()
print(x)

True

In [ ]:
# Check if all the characters in the text are in upper case:
# txt.isupper()

In [48]:
txt = "THIS IS NOW!"
txt.isupper()

True

In [55]:
#find all upper one
reg = "sfgT"

for i in reg:
    if i.isupper() == True:
        print(i)

T

In [ ]:
# Check if all the characters in the text are numeric:
# x = txt.isnumeric()

True

In [60]:
vj ="palidgro213"

gf = ""
for i in vj:
    if i.isnumeric()== True:
        gf +=i
gf

'213'

In [ ]:
bn = "a#b$g"

alph = ""
other =""
for i in bn:
    if i.isalpha() == True:
        alph +=i
    else:
        other +=i

new = alph[::-1]

df = new + other
print(df)
df.replace("ba","#")

gba#$

'g##$'

In [ ]:
bn = "a#b$g"

12

In [ ]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [4]:
hjd = "ushar"

"t".join(hjd)

'utsthtatr'

In [5]:
't'+hjd

'tushar'

In [21]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

In [22]:
# lower()	Converts a string into lower case

In [23]:
txt = "Hello my FRIENDS"

txt.lower()

'hello my friends'

In [28]:
gh = "FRIENDdS"

for i in gh:
    if i.islower() ==True:
        print(i)

d

In [1]:
txt = "Hello Sam!"

table = str.maketrans("H","T")
print(txt.translate(table))

Tello Sam!

In [35]:
txt = "Hello Sam!"

mytable = str.maketrans("S", "P")

print(txt.translate(mytable))

Hello Pam!

In [ ]:
# replace()	Returns a string where a specified value is replaced with a specified value

In [ ]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

In [38]:
bh = "bananas"
bh.replace("b","d")

'dananas'

In [ ]:
# split()	Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"

x = txt.split()

print(x)

In [ ]:
# startswith()	Returns true if the string starts with the specified value
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)